{% extends "userBase.html.twig" %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <div class="container">
        <div class="panel panel-default widget">
            <div class="panel-heading mb-2">
                <span class="glyphicon glyphicon-comment"></span>
                <div class="row justify-content-start align-items-center">
                    <fiv class="col-lg-9">
                        <h3 class="panel-title">
                            Questions </h3>
                    </fiv>
                    {#<span class="label label-info">
                        {{ totalNumberOfQuestions }}</span>#}
                    <div class="col-lg-3">
                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                              action="/user/class/{{ class.id }}/searchQuestions" method="POST">
                            <div class="input-group">
                                <input type="search" class="form-control bg-light border-2"
                                       placeholder="Search in questions..." aria-label="Search"
                                       aria-describedby="basic-addon2" name="search">
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {% for question in questions %}
                        <li class="list-group-item" id="question{{ question.id }}">
                            <div class="row">
                                <div class="col-xs-2 col-md-1">
                                    <img src="{% if question.owner.pdpPath!="" %} /uploads/picture{{ question.owner.id }}.jpg {% else %} //placehold.it/100 {% endif %} "
                                         alt="" height="80" width="80" class="img-profile rounded-circle"></div>
                                <div class="col-xs-9 col-md-10">
                                    <div>
                                        <a href="/user/questionResponces/{{ question.id }}">{{ question.title }}</a>
                                        <div class="comment-text">
                                            {{ question.content }}
                                        </div>
                                        <div class="mic-info">
                                            <small>
                                                By: <a href="#">{{ question.owner.firstName }} {{ question.owner.lastName }}</a> {{ question.date|date('Y-m-d H:i:s') }}
                                               

                                            </small>
                                        </div>
                                    </div>

                                    <div class="action">

                                        {% set sommeVote=0 %}
                                        {% for vote in question.voteQuestions %}
                                            {% if vote.user==app.user %}

                                                {% if vote.value %}
                                                    {% set sommeVote=sommeVote+1 %}
                                                {% else %}
                                                    {% set sommeVote=sommeVote-1 %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}


                                        <a type="button" class="btn btn-default
                                         {% if sommeVote==1 %} {{ "btn-primary" }} {% endif %}
                                         btn-xs" title="upVote"
                                           href="/user/question/up/{{ question.id }}">
                                            <i class="fa fa-thumbs-up"></i>
                                        </a>
                                        <a type="button" class="btn btn-default
                                         {% if sommeVote==-1 %} {{ " btn-primary" }} {% endif %}
                                        btn-xs" title="downVote"
                                           href="/user/question/down/{{ question.id }}">
                                            <i class="fa fa-thumbs-down"></i>

                                        </a>


                                        <i class="fas fa-poll"> {{ question.evaluation }}</i>
                                    </div>
                                </div>
                                <div class="col-xs-1 col-md-1">
                                    <a href=""><i class="fa fa-trash"></i></a>
                                </div>
                            </div>
                        </li>
                        <hr>
                    {% endfor %}
                </ul>
                {{ knp_pagination_render(questions) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src = "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" ></script>
    <script src = "//code.jquery.com/jquery-1.11.1.min.js" ></script>
{% endblock %}