<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/anon">insatien</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('home')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('event')}}">Events calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('contact')}}">Contact us</a>
      </li>
    </ul>




    <form method="post" action="/anon/login" class="form-inline my-2 my-lg-0">

          <input type="email"  name="email" id="inputEmail" class="form-control mr-sm-2" placeholder="email">


      <input type="password" name="password" id="inputPassword" class="form-control mr-sm-2" placeholder="password" >

      <input type="hidden" name="_csrf_token"
             value="{{ csrf_token('authenticate') }}">
      <button class="btn btn-secondary mr-sm-2" type="submit">
        Sign in
      </button>
      <a class="btn btn-info mr-sm-2" href="{{ path('register')}}" role="button"> sign up </a>

    </form>




  </div>
</nav>
{% if (error) is defined and error %}
  <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

      {% if (app.user)is defined  and app.user %}
        <div class="mb-3">
          You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
      {% endif %}