<nav class="navbar navbar-expand navbar-primary topbar mb-4 static-top shadow">
  <a class="navbar-brand" href="{{ path('home')}}">INSATIEN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('event')}}">Events calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contactUs">Contact us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#signUp">Sign Up</a>
      </li>
    </ul>
  <form method="post" action="/anon/login" class="form-inline my-2 my-lg-0">
    <input type="email"  name="email" id="inputEmail" class="form-control mr-sm-2" placeholder="email">
    <div><input type="password" name="password" id="inputPassword" class="form-control mr-sm-2" placeholder="password" >
        <input type="hidden" name="_csrf_token"
             value="{{ csrf_token('authenticate') }}">
            <small><a class="small" href="/reset-password/forgottenPassword">Forgot Password?</a></small>
          </div>
      <button class="btn btn-primary mr-sm-2" type="submit">
        Sign in
      </button>
    </form>
</div>
  {% for message in app.session.flashBag.get('loginError') %}
    <div class="alert alert-danger">
      {{ message }}</div>
  {% endfor %}



{#  {% if (error) is defined and error %}#}
{#    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#  {% endif %}#}
{#       {% if (app.user)is defined  and app.user %}#}
{#          <div class="mb-3">#}
{#            You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#          </div>#}
{#        {% endif %}#}



</nav>      