{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset("resetPassword/request.css")}}">
{% endblock %}
{% block body %}
	{% for flashError in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<br>
	<br>
	<br>
	<div class="container">
		<div class="left">
			<div class="login">Reset your password</div>
			<div class="eula">
				Enter your email address and we we will send you a link to reset your password.</div>
		</div>
		<div class="right">

			<div class="form">
				{{ form_start(requestForm) }}

				{{ form_row(requestForm.email, {'attr' : {'class' : 'email' }}) }}


				<button class="btn btn-primary">Send email</button>
				{{ form_end(requestForm) }}
			</div>
		</div>
	</div>
	<br>

	<br>
	<br>
	<br>

{% endblock %}
