{% extends 'TeacherBase.html.twig' %}


{% block body %}


    {% for request in requests %}
    <div class="card border-primary mb-3" style="max-width: 100rem;">
        <div class="card-header">Request from {{ request.student.firstName }} {{  request.student.lastName  }}</div>
        <div class="card-body text-primary">

            <p class="card-text"> {{ request.student.firstName }} {{  request.student.lastName  }} is asking to join your class {{ request.class.title }}</p>
            <a type="button" class="btn btn-success" style="color: white" href="/teacher/request/accept/{{ request.id }}">Accept</a>
            <a type="button" class="btn btn-danger" style="color: white"  href="/teacher/request/deny/{{ request.id }}">Deny</a>
        </div>
    </div>
    {% endfor %}

{% endblock %}


