{%extends 'Base.html.twig'%}
{% block navbar %}
{{ include('inc/userNavbar.html.twig')}}  
{% endblock %}
{% block body %}
<div class="container">
    <h1 class="display-3">Edit Profile</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="img-thumbnail" alt="avatar">
          <h6></h6> 
          <a class="btn btn-outline-success" href="javascript:void(0);">
            <i class="fa fa-cloud-upload append-icon"></i> Upload</a>
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <h3>Personal info</h3>
        
        <form class="form-horizontal" role="form" method="POST" action="/student/profile">
          {{ form_start(form) }}           
          <div class="col-lg-8">
              {{ form_row(form.firstName) }}            
            </div>
            <div class="col-lg-8">
              {{ form_row(form.lastName) }}
            </div>
            <div class="col-lg-8">
              {{ form_row(form.email) }}
            </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Current password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" name="currentPassword">
            </div>
          </div>
            <div class="col-md-8">
              {{ form_row(form.password) }}
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label"></label>
                  <div class="col-md-8">
                      {{ form_row(form.save) }}
                      <span></span>  
                      {{ form_row(form.Cancel) }}
                </div> 
            </div>  
           {{ form_end(form)}}
        </form>
      </div>
  </div>
</div>
<hr>
{% endblock %}