<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Insatien{% endblock %}</title>
    <link href="{{ asset('assetStudent/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="{{ asset('assetStudent/css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

    {% block stylesheets %} {% endblock %}
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    {% block Sidebar %}
    {% if app.user.roles[0]=='ROLE_TEACHER' %}

        {{ include('inc/TeacherSidebar.html.twig') }}


    {% elseif app.user.roles[0]=='ROLE_STUDENT'%}

        {{ include('inc/StudentSidebar.html.twig') }}

    {% endif %}
    {% endblock %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            {% block navbar %}
                {{ include('inc/userNavbar.html.twig') }}
            {% endblock %}



            {% for message in app.session.flashBag.get('info') %}
                <div class="alert alert-info">
                    {{ message }} </div>
            {% endfor %}
            {% for message in app.session.flashBag.get('error') %}
                <div class="alert alert-danger">
                    {{ message }}</div>
            {% endfor %}
            {% for message in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ message }}</div>
            {% endfor %}
            <div class="container-fluid">
                {% block body %}{% endblock %}
            </div>
            <!-- Bootstrap core JavaScript-->
            <script src="{{ asset('assetStudent/vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('assetStudent/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

            <!-- Core plugin JavaScript-->
            <script src="{{ asset('assetStudent/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

            <!-- Custom scripts for all pages-->
            <script src="{{ asset('assetStudent/js/sb-admin-2.min.js') }}"></script>

            <!-- Page level plugins -->
            <script src="{{ asset('assetStudent/vendor/chart.js/Chart.min.js') }}"></script>

            <!-- Page level custom scripts -->
            <script src="{{ asset('assetStudent/js/demo/chart-area-demo.js') }}"></script>
            <script src="{{ asset('assetStudent/js/demo/chart-pie-demo.js') }}"></script>

            <script>

                const eventSource = new EventSource('http://localhost:3000/.well-known/mercure?topic=newRequest{{ app.user.id }}');


                var requests = undefined;
                console.log('test');

                refresh();

                eventSource.onmessage = event => {


                    console.log("new Request", '{{ app.user.firstName }}');


                    refresh();


                }



                function refresh() {
                    $.ajax({

                        url: '/user/requestNotification',
                        method: 'POST',
                        data: {

                            read: 1
                        },
                        success: function (data) {

                            requests = JSON.parse(data);
                            // console.log(data);

                        }
                    });
                    waitResponce();
                }



                function waitResponce() {


                    if (!requests) {
                        setTimeout(waitResponce, 80);
                        console.log('waiting');

                    } else {
                        console.log('printing');
                        printAll();


                    }
                }



                function printAll() {


                    requestsDiv = document.querySelector("#requests");
                    requestsDiv.innerHTML = '';



                    requests.forEach(request => {
                        console.log(request.id);

                        {% if app.user.roles[0]=='ROLE_TEACHER' %}
                        requestContent='You have a request from ' + request.student  +' to join your class ' + request.classGroup;


                        {% elseif app.user.roles[0]=='ROLE_STUDENT'%}
                        requestContent= request.teacher +' invited you  to join his/her class '+ request.classGroup;

                        {% endif %}


                        requestElement =
                            ' <a class="dropdown-item d-flex align-items-center" href="/user/showRequests">' +
                            '                  <div class="mr-3">' +
                            '                    <div class="icon-circle bg-primary">' +
                            '                      <i class="fas fa-file-alt text-white"></i>' +
                            '                    </div>' +
                            '                  </div>' +
                            '                  <div>' +
                            '                    <span class="font-weight-bold"> ' +requestContent+ ' </span>' +
                            '                  </div>' +
                            ' <div class="row">' +
                            '<a type="button" class="btn btn-success col-md-6" style="color: white"' +
                            '                       href="/user/request/accept/'+request.id+'">Accept</a>' +
                            '                    <a type="button" class="btn btn-danger col-md-6" style="color: white"' +
                            '                       href="/user/request/deny/'+request.id +'">Deny</a>'
                            +
                            '                </div></a>'


                        requestsDiv.appendChild(document.createRange().createContextualFragment(requestElement));
                    });

                    $('#numberOfRequests')[0].innerHTML=requests.length;

                    requests = undefined;


                }


            </script>
            {% block javascripts %} {% endblock %}
        </div>
    </div>
</div>

</body>