{% extends "StudentBase.html.twig" %}
{% block stylesheets %}
{#<link rel="stylesheet" href="{{ asset('assetStudent/css/noteStylesheet.css')}}">#}
{% endblock %}

{% block body %}
    <div class="row mb-4">
    <div class="col-md-4">
        <section>
            <div class="row mb-4">
                <div class="col-md-8">
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                          <input type="text" class="form-control bg-light border-0 small" placeholder="Search in notes..." aria-label="Search" aria-describedby="basic-addon2">
                          <div class="input-group-append">
                            <button class="btn btn-info" type="button">
                              <i class="fas fa-search fa-sm"></i>
                            </button>
                          </div>
                        </div>
                      </form>
                </div>
                <div class="col-md-2">
                    <a type="button" href="{{ path('displayNotes') }}" class="btn btn-info add-new"><i class="fa fa-tasks"></i></a>
                </div>
                <div class="col-md-2">
                    <a type="button" href="{{ path('addNote') }}" class="btn btn-info add-new"><i class="fa fa-plus"></i></a>
                </div>
            </div>
            <div>
                {% if form is defined %}
                {{ form_start(form,{'attr' : {'novalidate' : 'novalidate' , 'autocomplete' : 'off'}}) }}
                {{ form_row(form.title,{'attr':{'placeholder':'add a title..'}}) }}
                {{ form_row(form.content,{'attr':{'placeholder':'add content..'}}) }}
                {{ form_end(form) }}
                {% endif %}  
                {% if notes is defined %}
                    {% for note in notes %}
                      <div class="card border-left-info shadow h-100 py-2 mb-4">
                        <div class="card-body">
                          <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">{{ note.title }}</div>  
                            </div>
                            <div class="col-auto">
                              <a href="/student/note/add?id={{ note.id }}"><i class="fa fa-pencil-alt fa-2x text-gray-300"></i></a>
                              <a href="/student/note/{{ note.id }}" alt="show"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></a>
                              <a href="/student/note/delete/{{ note.id }}"><i class="fa fa-trash fa-2x text-gray-300"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                {% endif %}
            </div>
        </section>
    </div>
        
        <div class="col-md-8">
       {% if NOTE is defined %}
            <div class="card shadow mb-4">
                <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">{{ NOTE.title }}</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardExample" style="">
                <div class="card-body">
                    {{ NOTE.content }}
                </div>
                </div>
            </div>
        {% endif %}  
        </div>
        {{ knp_pagination_render(notes) }}  

    </div>

{% endblock %}
{% block javascript %}
<script src="{{ asset('assetStudent/js/note.js') }}"></script>
{% endblock %}
