{% extends "StudentBase.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assetStudent/css/noteStylesheet.css')}}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
        <section>
            <div class="row">
                <div class="col-md-8">
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                          <input type="text" class="form-control bg-light border-0 small" placeholder="Search in notes..." aria-label="Search" aria-describedby="basic-addon2">
                          <div class="input-group-append">
                            <button class="btn btn-info" type="button">
                              <i class="fas fa-search fa-sm"></i>
                            </button>
                          </div>
                        </div>
                      </form>
                </div>
                <div class="col-md-2">
                    <a type="button" href="{{ path('displayNotes') }}" class="btn btn-info add-new"><i class="fa fa-tasks"></i></a>
                </div>
                <div class="col-md-2">
                    <a type="button" href="{{ path('addNote') }}" class="btn btn-info add-new"><i class="fa fa-plus"></i></a>
                </div>
            </div>
            <div>
                {% if form is defined%}
                {{form(form)}}
                {% endif %}
            </div>
        </section>
        </div>
        
        <div class="col-md-9">
        hahaha
        haahahah
        hahaha
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script src="{{ asset('assetStudent/js/note.js') }}"></script>
{% endblock %}
