<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}Insatien
			{% endblock %}
		</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link href="{{ asset('assetStudent/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
		<link rel="stylesheet" href="{{asset('heartStyle.css')}}">
		<link rel="stylesheet" href="{{asset('home/home.css')}}">
		<link rel="stylesheet" href="{{asset('home/login.css')}}">
		{#        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">        #}
		{#        <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.css">#}
			<style>
html {
	scroll-behavior: smooth;
}
		</style>{% block stylesheets %}
	{% endblock %}
	</head>
		<body>
			{% block navbar %}
		{{ include('inc/navbar2.html.twig')}}
		{% endblock %}
			<div class="container"> {% for message in app.session.flashBag.get('info') %}
				<div class="alert alert-info">
					{{ message }}
				</div>
			{% endfor %}
			{% for message in app.session.flashBag.get('error') %}
				<div class="alert alert-danger">
					{{ message }}</div>
			{% endfor %}
			{% for message in app.session.flashBag.get('success') %}
				<div class="alert alert-success">
					{{ message }}</div>
			{% endfor %}
		</div>

		<div class="container-fluid"> {% block body %}{% endblock %}
			</div>
			<!-- Bootstrap core JavaScript-->
			<script src="{{ asset('assetStudent/vendor/jquery/jquery.min.js') }}"></script>
			<script src="{{ asset('assetStudent/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

			<!-- Core plugin JavaScript-->
			<script src="{{ asset('assetStudent/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

			<!-- Custom scripts for all pages-->
			<script src="{{ asset('assetStudent/js/sb-admin-2.min.js') }}"></script>

			<!-- Page level plugins -->
			<script src="{{ asset('assetStudent/vendor/chart.js/Chart.min.js') }}"></script>

			<!-- Page level custom scripts -->
			<script src="{{ asset('assetStudent/js/demo/chart-area-demo.js') }}"></script>
			<script src="{{ asset('assetStudent/js/demo/chart-pie-demo.js') }}"></script>
			{% block javascripts %}{% endblock %}
		</body>
	</html>
