<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ asset('assetStudent/css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assetsUser/assetsQuiz/quiz.css') }}">
    <title>Quiz</title>
</head>
    <body>
        <div class="container-fluid">
            <div class="row justify-content-start align-items-center">
                <div class=" col-lg-3"></div>
                <div class="col-lg-6">
                    <h1 class="mt-4 mb-4 mr-2 ml-2">Quiz : {{ quizSession.quiz.title }}</h1>
                    <div class="quiz-step step1 current">
                        <div class="question-wrap ">
                        <h2>code to join quiz #{{ quizSession.id }}</h2>
                        </div>
                    </div>
                    <div type="button" class="quiz-answer low-value" id="nextQuestion">
                        <div class="answer-wrap">
                        <p class="answer-text">next Question</p>
                        </div> 
                    </div>
                    <div id="question" class="question-title-wrap"></div>
                </div>
            </div>  
                <div class=" col-lg-3"></div>
        </div>       

    </body>


<script src="{{ asset('assetStudent/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('assetStudent/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('assetStudent/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script>
    quiz=JSON.parse('{{ quizSession.quiz|json_encode()|raw }}');
    state=0;




    $('#nextQuestion')[0].addEventListener('click',(e)=>{
        if(state<quiz['questions'].length){
            $('#question')[0].innerHTML=quiz['questions'][state]['question'];
            state++;
            console.log('/teacher/quizState/{{ quizSession.id }}/'+state);
            $.ajax({

                url:'/teacher/quizState/{{ quizSession.id }}/'+state,
                method: 'POST',
                data: {

                    read: 1
                }
            });


        }
        else {
            state++;
            $.ajax({


                url:'/teacher/quizState/{{ quizSession.id }}/'+state,
                method: 'POST',
                data: {

                    read: 1
                }
            });
            $('#question')[0].innerHTML='quiz ended <br> <a type="button" class="quiz-answer low-value answer-text" href="/teacher/quizSessionDetails/{{ quizSession.id }}">Get Results</a>';
            $('#nextQuestion')[0].remove();



        }

    });


    {% if quizSession.status>0 %}
    state={{quizSession.status}}-1;
    $('#nextQuestion')[0].click();
    {% endif %}


    const studentJoined = new EventSource('http://localhost:3000/.well-known/mercure?topic=joinedQuiz{{ quizSession.id }}');
    const studentQuit = new EventSource('http://localhost:3000/.well-known/mercure?topic=quitQuiz{{ quizSession.id }}');

    students={};

    studentJoined.onmessage = event => {


        data=JSON.parse(event.data);
        if(!students[data[0]]){
            students[data[0]]=data[1]+' '+data[2];

            console.log(students);

            for(studentId in students){
                $('#connectedStudents').append('<div id="student'+studentId +'">' +
                    students[studentId]+
                    '</div>');
            };
        }





    }
    studentQuit.onmessage = event => {

        console.log(event.data);
        $('#student'+event.data).remove();




    }
</script>
</html>