{% extends 'StudentBase.html.twig' %}

  {% block stylesheets %}
      <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css">
      <style>
          .map {
              height: 650px;
              width: 100%;
          }
      </style>

  {% endblock %}



{% block body %}







    <div class="row ml-2 ">
        <h2 >Add points by clicking on map :</h2>
    </div>

    <div class="row">
        <div class="col-sm-3 my-auto">
            {{ form_start(form) }}
            {{ form_row(form.points) }}

            {{ form_row(form.departurePoint,{'attr':{'placeholder':'location name'}}) }}
            {{ form_row(form.arrivalPoint,{'attr':{'placeholder':'location name'}}) }}
            {{ form_row(form.type,{'attr':{'onclick':'checkType()'}}) }}
            {{ form_row(form.departureTime,{'widget' :'choice'}) }}
            {{ form_row(form.returnTime,{'widget' :'choice'}) }}
            {{ form_row(form.moreDetails,{ "required" : false}) }}

            {% if form.modifyOffer is defined %}
            {{ form_row(form.modifyOffer,{'attr':{'onclick':'jsonPoints()'}}) }}

            {% else %}
            {{ form_row(form.addOffer,{ 'attr':{'onclick':'jsonPoints()'}}) }}

            {% endif %}
            {{ form_end(form) }}
        </div>


        <div class="col-sm-6">
            <div id="map" class="map "></div>
        </div>
        <div class="col-sm-3">
            <h3>Selected points :</h3>
            <hr>
            <div id="pointDiv" class="overflow-auto my-auto" >

            </div>
        </div>
    </div>



{% endblock %}




{% block javascripts %}
    <script>

        $('#pointDiv')[0].style.height=screen.height*0.6+"px";
        $('#form_returnTime')[0].parentNode.style.display = 'none';

    </script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>

    <script src="{{ asset('assetCovoiturage/addingPoints.js') }}"></script>
{% endblock %}


